<div class="max-w-4xl flex flex-col gap-6 mx-auto my-8">

    <div>
        <lib-page-title title="Créer une facture"></lib-page-title>
        <lib-page-subtitle title="Renseignez les informations de la facture à suivre"></lib-page-subtitle>
    </div>

    <lib-card title="Informations de la facture" subtitle="Remplissez les détails de la facture à créer">
        <form>
            <!-- Client Selection  -->
            <div class="flex flex-col mb-4">
                <lib-label for="client" label="Client"></lib-label>
                <div class="flex gap-4">
                    @if (isCreatingNewClient) {
                        <lib-input-select class="flex-1" optionLabel="clientId" placeholder="Selectionner un client" id="client"></lib-input-select>
                        <lib-button label="Ajouter un nouveau client" (click)="toggleNewClientMode()"></lib-button>
                    } @else {
                        <lib-input class="flex-1" placeholder="Nom du nouveau client" id="client"></lib-input>
                        <lib-button label="Selectionner un client existant" variant="secondary" (click)="toggleNewClientMode()"></lib-button>
                    }
                </div>
            </div>

            <!-- Chantier Selection -->
            <div class="flex flex-col mb-4">
                <lib-label for="chantier" label="Chantier"></lib-label>
                <div class="flex gap-4">
                    @if (isCreatingNewChantier) {
                        <lib-input-select class="flex-1" optionLabel="chantierId" placeholder="Selectionner un chantier" id="chantier"></lib-input-select>
                        <lib-button label="Ajouter un nouveau chantier" (click)="toggleNewChantierMode()"></lib-button>
                    } @else {
                        <lib-input class="flex-1" placeholder="Nom du nouveau chantier" id="chantier"></lib-input>
                        <lib-button label="Selectionner un chantier existant" variant="secondary" (click)="toggleNewChantierMode()"></lib-button>
                    }
                </div>
            </div>

            <!-- Montant & Date d'échéance -->
            <div class="flex gap-4 mb-4">
                <div class="flex flex-col flex-1">
                    <lib-label for="montant" label="Montant TTC ($)"></lib-label>
                    <lib-input type="number" placeholder="0,00" id="montant"></lib-input>
                </div>
                <div class="flex flex-col flex-1">
                    <lib-label for="echeance" label="Date d'échéance"></lib-label>
                    <lib-date-picker id="echeance" placeholder="mm / dd / yyyy"></lib-date-picker>
                </div>
            </div>

            <!-- Numero de facture & Type -->
            <div class="flex gap-4 mb-4">
                <div class="flex flex-col flex-1">
                    <lib-label for="facture" label="Numero de facture"></lib-label>
                    <lib-input type="text" placeholder="FAC-001" id="facture"></lib-input>
                </div>
                <div class="flex flex-col flex-1">
                    <lib-label for="type" label="Type"></lib-label>
                    <lib-date-picker id="type" ></lib-date-picker>
                </div>
            </div>

            <!-- Méthode de paiement -->
            <div class="flex flex-col mb-4">
                <lib-label for="paiement" label="Méthode de paiement prevu"></lib-label>
                <lib-input id="paiement"></lib-input>
            </div>

            <!-- PDF de la facture -->
            <div class="flex flex-col">
                <lib-label for="pdf-facture" label="PDF de la facture (optionnel)"></lib-label>
                <lib-input-file id="pdf-facture" label=""></lib-input-file>
            </div>
        </form>
    </lib-card>
    <lib-card title="Scénario de relance" subtitle="Définissez les étapes de relance pour cette facture">
        <form>
            <!-- Scenario Selection  -->
            <div class="flex flex-col mb-4">
                <lib-label for="scenarion" label="Scenario"></lib-label>
                <lib-input-select optionLabel="scenaionId" ></lib-input-select>
            </div>

            <div class="flex justify-between items-center p-3 rounded bg-primary/15">
                <div class="flex flex-col">
                    <lib-label for="automated-reminders" label="Relances automatiques"></lib-label>
                    <span>Désactivez si vous gérez à la main</span>
                </div>
                <div>
                    <lib-toogle/>
                </div>
            </div>
        </form>
    </lib-card>

    <lib-button label="Créer la facture" class="self-end" prime_icon_class="pi pi-plus"></lib-button>
</div>
