<div class="bg-background text-foreground h-screen flex overflow-hidden">
    <aside class="bg-sidebar text-sidebar-foreground w-64 flex-col flex shrink-0">
        <header class="flex items-center gap-3 p-6">
            <div class="flex h-10 w-10 items-center justify-center rounded-card text-amber-50 bg-primary rounded" aria-hidden="true">
                <!-- There must be an logo there but lets cheat an use primeng icon-->
                <i class="pi pi-warehouse" style="font-weight: bold; font-size: large;"></i>
            </div>
            <div>
            <h1 class="font-semibold">RelanceBTP</h1>
            <h2 class="text-sm">Suivi de factures</h2>
            </div>
        </header>

        <nav aria-label="Navigation principale" class="flex flex-col gap-2 p-4 flex-1">
            @for (item of navItem; track $index) {
                <lib-sidebar-item
                    [text]="item.text"
                    [prime_icon_class]="item.prime_icon_class"
                    [active]="routerService.url === item.route"
                    [route]="item.route"
                />
            }
        </nav>

        <footer class="p-4 flex items-center justify-center">
            <lib-button
            variant="secondary"
                label="Deconnexion"
                (click)="authService.logout()"
            >
            </lib-button>
        </footer>
    </aside>

    <div class="min-h-screen grow overflow-auto">
    <router-outlet />
    </div>
</div>
 